{% extends 'Smartly/base.html' %}
{%load course_custom_tags%}

{%block title %}
Smartly
{%endblock%}
{%block content%}
<style>
    .price{
        font-size: 20px;
    }
</style>
<div class="container-fluid"></div>
<div  hidden >
        <p class="">Selected course :  {{course.name}}</p>
        <p class="">Selected course :  {{course.price}}</p>
        <p class="">Selected course :  {{course.discount}}</p>
        <p class="">Selected course :  {{course.description}}</p>
        <p class="">Selected course :  {{course.video_set.all}}</p>
        <p class="">Selected course :  {{course.tag_set.all}}</p>
        <p class="">Selected course :  {{course.prerequisites_set.all}}</p>
        <p class="">Selected course :  {{course.learning_set.all}}</p>
    </div>

</div>
{% endblock%}